.cardSection2 {
    width: 30.782%;
    height: 15.8203125%;
    font-family: 'Urbanist', sans-serif;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 64px -24px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 64px -24px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 64px -24px rgba(0, 0, 0, 0.16);
}

.cardSection2-h3 {
    margin-top: 17px;
    font-size: 1.25rem;
    font-weight: 600;
}

.cardSection2-p {
    line-height: 28.9px;
    margin-top: 14px;
    font-size: 1.063rem;
    font-weight: 400;
    color: #60697B;
}

.cardSection2-a {
    display: flex;
    text-decoration: none;
    margin-top: 14px;
    font-size: 1.063rem;
    font-weight: 600;
    text-decoration: none;
}

.cardSection2-i {
    font-size: 20px;
}