.section3-info-button {
    display: inline-block;
    color: white;
    padding: 16px 25.67px 16.89px 26px;
    font-size: 1.063rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}